@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-8"> @* right column *@
            <div class="row">
                <h1>How many cards should I pick?</h1>
            </div>
            <div class="row mt-5">
                <input type="range">
            </div>
            <div>
                <button type="button" class="btn btn-primary">Pick some cards</button>
            </div>
        </div>
        <div class="col-4"> @* right column *@
            list of cards (placeholder)
        </div>
    </div>
</div>